
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>STATICAN</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style3.css') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
        <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
	</head>
	
	<body>
        <section>
            <div class = "entete">
                <span class = "txt">STATICAN</span> 
                <span class = "gradient"></span>
                <span class = "dodge"></span>
            </div>
            <div class = "propos">
                <h2 class="un">A simple yet amazing statistical analysis tool</h2>
                <h3 class = "deux"> Developped by ICAN I/O - Data Sciences</h3>
            </div>
            <div class = "bouton">
                <a href="./choose.html" class="button19"> DISCOVER </a>
            </div>
        </section>

        <div>
            
        </div>

    </body>
</html>